@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); * {
    font-family: 'Roboto', sans-serif;
}

.light-theme {
    color: black;
    --def-bfill: black;
    --fill: black;
    --font: black;
    --bfont: #707070;
    --background1: #8b8b8b;
    --background2: #e6e6e6;
    --background3: #b3b3b3;
    --nav-background: #fff;
    --bmenu-background: #ffffffcc;
}

.dark-theme {
    color: white;
    --def-bfill: white;
    --fill: #fff;
    --font: white;
    --bfont: #707070;
    --background1: #0c0c0c;
    --background2: #252525;
    --background3: #1c1c1c;
    --nav-background: rgb(24 24 24 / 1);
    --bmenu-background: #000000cc;
}

.light-back {
    background-image: url(img/light.jpg);
}

.dark-back {
    background-image: url(img/dark.jpg);
    background-position-x: ee;
}

html {
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    width: 0;
}

ul {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.hide {
    display: none;
}

.hide-op {
    opacity: 0;
}

@media (max-width: 400px) {
    #pc-nav {
        display: none !important;
    }

    #mobile-head {
        display: block !important;
    }

    .b_menu_label {
        display: flex!important;
    }

    #cover .label {
    }

    #cover {
        flex-direction: column;
        justify-content: center;
    }

    .social {
        margin: 0!important;
        position: absolute;
        bottom: 53px;
        height: 0;
    }

    .social-icons {
        display: flex;
        flex-direction: row!important;
    }
}

@media (max-width: 700px) {
    .flex-block {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 10px!important;
    }

    .flex-block p {
        font-size: 18px!important;
        padding-left: 20px !important;
    }
}

@media (max-width: 660px) {
    .project-slide {
        flex-direction: column;
        gap: 0!important;
    }

    .project-slide img {
        margin: auto !important;
    }

    .project-container {
        padding: 0 30px!important;
    }

    .project-text {
        padding-left: 0!important;
        font-size: 16px!important;
    }
}

body {
    margin: 0;
}

.navbar {
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
    padding: 5px;
    height: 60px;
    transition: .20s;
    width: 100%;
}

.nav-painted {
    --bfill: var(--def-bfill);
    background: var(--nav-background);
    color: var(--font);
    fill: var(--fill);
}

#navbar .nav-nav {
    display: flex;
}

#navbar .nav-nav .nav-logo {
    height: 60px;
    overflow: hidden;
}

#navbar .nav-nav .nav-logo a {
    display: flex;
    align-items: center;
}

#navbar .nav-nav .nav-logo img {
    height: 60px;
}

#mobile-head {
    font-size: 22px;
    margin-left: 10px;
    display: none;
}

#navbar .nav-nav ul {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

#navbar .nav-nav ul li {
    list-style-type: none;
    padding: 8px;
}

#navbar .nav-login {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

#switch-theme {
    background: none;
    border: none;
    padding: 0;
}

#switch-theme-svg {
    width: 35px;
    height: 35px;
}

#switch-theme-light {
    transition: opacity 1s;
}

#b_menu_button {
    opacity: 0;
    display: none;
}

#b_menu_button:checked ~ #b_menu {
    left: 0;
    visibility: visible;
}

#b_menu_button:checked ~ .b_menu_label>span {
    transform: rotate(45deg);
}

#b_menu_button:checked ~ .b_menu_label>span::before {
    top: 0;
    transform: rotate(0);
}

#b_menu_button:checked ~ .b_menu_label>span::after {
    top: 0;
    transform: rotate(90deg);
}

.b_menu_label {
    display: none;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 10;
    margin-left: 5px;
}

.b_menu_label>span, .b_menu_label>span::before, .b_menu_label>span::after {
    display: block;
    position: absolute;
    width: 26px;
    height: 2.5px;
    transition-duration: .25s;
    background: var(--bfill);
}

.b_menu_label>span::before {
    content: '';
    top: -8px;
}

.b_menu_label>span::after {
    content: '';
    top: 8px;
}

#b_menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 110px;
    height: 100%;
    margin: 0;
    list-style: none;
    background-color: var(--bmenu-background);
    color: var(--font);
    box-shadow: 1px 0 6px rgba(0,0,0,.2);
    transition-duration: .25s;
    font-size: 26px;
    padding: 30px;
}

#b_menu a {
    display: block;
    padding: 5px 0;
}

header {
    --bfill: white;
    fill: white;
    color: white !important;
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    background-color: #000;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-position-y 1ms;
}

header:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: background .5s;
    background-color: rgb(30 30 30);
    opacity: 0.4;
}

#cover {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}

#cover .label {
    font-size: 60px;
    z-index: 0;
    width: 100%;
    padding-left: 15%;
}

.label-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: min-content;
}

.label-container div {
    margin: 0;
    transition: padding 400ms cubic-bezier(0.87, -0.41, 0.13, 1.47);
}

.label-container div:hover {
    padding-left: 5%;
}

.label-container div .yandex {
    transition: color .5s;
}

.label-container div .yandex1:hover {
    color: rgb(253, 63, 99);
}

.label-container div .yandex2:hover {
    transition: all 200ms;
    font-size: 110%;
}

#cover .social {
    margin-right: 15px;
}

#about-me {
    background: var(--background1);
    padding-top: 40px;
}

.cmd-c {
    top: 40px;
    left: 50px;
    width: fit-content;
    margin: 0px 0 0 50px;
}

.cmd {
    height: 60px;
}

#cmd-l2 {
    animation: blink 1100ms infinite;
}

@keyframes blink {
    0% {
        fill-opacity: 0;
    }

    50% {
        fill-opacity: 1;
    }

    100% {
        fill-opacity: 0;
    }
}

main .about-me-h1 {
}

main .text-container {
    margin: 0;
}

main .text-container h1 {
    margin-top: 0;
    font-size: 36px;
}

main .text-container p {
    text-indent: 50px;
    font-size: 20px;
    line-height: 1.8;
    word-spacing: 4px;
    padding-left: 30px;
}

.flex-block {
    display: flex;
    padding: 0 50px;
    align-items: center;
    flex-direction: row;
}

.self-img img {
    width: 160px;
    border-radius: 800px;
}

.back-line {
    background: var(--background2);
    width: 100%;
    height: 130px;
    display: block;
    z-index: -1;
}

.back-line path {
    fill: var(--background1);
    display: block;
    z-index: -1;
}

#click-me {
    position: relative;
    right: -127px;
    top: -31px;
    display: flex;
    width: fit-content;
    height: 0;
    transition: all 0.8s;
}

.click-me-svg {
    height: 40px;
    width: 66px;
}

.click-me-svg path {
    stroke-width: 1px;
    fill: none;
    stroke: var(--bfont);
}

#click-me span {
    color: #707070;
    margin-top: -5px;
}

#skills {
    background: var(--background2);
    padding: 30px 50px;
}

#skill-container {
    position: relative;
    left: calc(50% - 100px);
    width: max-content;
}

#skill-container .skill-item {
    display: flex;
    flex-direction: column;
}

#skill-container .skill-title {
    font-size: 30px;
    transition: all 0.3s cubic-bezier(0.53, -0.35, 0.46, 1.36);
    position: relative;
    padding-left: 40px;
}

#skill-container .skill-title:hover {
    margin-left: -5px;
}

#skill-container .skill-title:hover:before {
    content: ">";
}

#skill-container .skill-title::before {
    content: "";
    font-size: 23px;
    transition: all 0.5s cubic-bezier(0.53, -0.35, 0.46, 1.36);
    position: absolute;
    left: 15px;
    top: 5px;
}

#skill-container .skill-item ul {
    list-style: none;
    transition: all 0.5s cubic-bezier(0.53, -0.35, 0.46, 1.36);
    overflow: hidden;
    height: 0px;
}

#skill-container .skill-item ul li {
    padding-left: 40px;
    position: relative;
    transition: all 0.3s cubic-bezier(0.53, -0.35, 0.46, 1.36);
}

#skill-container .skill-item ul li::before {
    content: "";
    font-size: 15px;
    transition: all 0.5s cubic-bezier(0.53, -0.35, 0.46, 1.36);
    position: absolute;
    left: 25px;
    top: 0;
}

#skill-container .skill-item ul li:hover:before {
    content: ">";
}

#projects {
    background: var(--background1);
    padding: 10px 0px 50px 0px;
}

#projects h1 {
    margin: 0px 0px 30px 50px;
    font-size: 36px;
}

.project-container {
    padding: 0 80px;
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    scrollbar-width: none;
}

.project-container::-webkit-scrollbar {
    width: 0;
}

.project-slide-last {
    margin-right: 0!important;
}

.project-slide {
    min-width: 700px;
    background: var(--background3);
    margin-right: 20px;
    border-radius: 15px;
    display: flex;
    gap: 10px;
    padding: 20px;
    transition: all 1s;
    justify-content: space-between;
}

.project-name {
    margin: 0;
}

.project-text {
    text-indent: 20px;
    padding-left: 20px;
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 0;
}

.project-slide img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin: auto 0;
}

code {
    background: var(--background2);
    padding: 4px;
    border-radius: 8px;
}

footer {
    background: var(--background2);
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    padding-top: 40px;
    color: var(--background1);
}

footer li {
    list-style: none;
    margin: 0 10px;
}

.social-icons {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.social-icons>li {
    margin: 0.20rem;
}

.social-icons a {
    display: block;
    position: relative;
    background-color: #121212;
    transition: background-color .3s ease-in-out;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: .25rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.social-icons a:hover {
    background-color: #e0e0e0;
}

.social-icons a::before {
    content: "";
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    left: .65rem;
    top: .65rem;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translate(3px, 1px) rotate(0deg);
    }

    10% {
        -webkit-transform: translate(-1px, -3px) rotate(-2deg);
    }

    20% {
        -webkit-transform: translate(-3px, 2px) rotate(2deg);
    }

    30% {
        -webkit-transform: translate(0px, -2px) rotate(0deg);
    }

    40% {
        -webkit-transform: translate(2px, -1px) rotate(1deg);
    }

    50% {
        -webkit-transform: translate(-1px, 3px) rotate(-2deg);
    }

    60% {
        -webkit-transform: translate(-3px, 0px) rotate(0deg);
    }

    70% {
        -webkit-transform: translate(2px, 1px) rotate(-1deg);
    }

    80% {
        -webkit-transform: translate(-1px, -3px) rotate(2deg);
    }

    90% {
        -webkit-transform: translate(3px, 2px) rotate(-2deg);
    }

    100% {
        -webkit-transform: translate(1px, -1px) rotate(1deg);
    }
}

.shake:active, .shake:focus {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-timing-function: linear;
}

.social-icons .social-icon-twitter::before {
    background-image: url("...");
}

.social-icons .social-icon-fb::before {
    background-image: url("...");
}

.social-icons .social-icon-vk::before {
    background-image: url("...");
}

.social-icons .social-icon-telegram::before {
    background-image: url("...");
}

.social-icons .social-icon-youtube::before {
    background-image: url("...");
}

.social-icons .social-icon-tiktok::before {
    background-image: url("...");
}

.social-icons .social-icon-github::before {
    background-image: url("...");
}

.social-icons .social-icon-twitter::before {
    background-image: url("svg/social/twitter.svg");
}

.social-icons .social-icon-fb::before {
    background-image: url("svg/social/fb.svg");
}

.social-icons .social-icon-vk::before {
    background-image: url("svg/social/vk.svg");
}

.social-icons .social-icon-telegram::before {
    background-image: url("svg/social/telegram.svg");
}

.social-icons .social-icon-youtube::before {
    background-image: url("svg/social/youtube.svg");
}

.social-icons .social-icon-tiktok::before {
    background-image: url("svg/social/tiktok.svg");
}

.social-icons .social-icon-github::before {
    background-image: url("svg/social/github.svg");
}
